/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NAVR 1
#define NSL  2
#define NSSL 3
#define FUNL 4
#define MEDR 5

#define A_SFW LG(LA(LS(H))) // Amethyst: Swap Focused Window to Clockwise Screen
#define A_RR TD(TD_RR) // Amethyst: Reset Amethyst (One Tap) or Reset Auto Rais (Two Taps)
#define BCK LC(LBRC) // Navigate Back
#define SL LG(LEFT) // Move a Space Left
#define SR LG(RIGHT) // Move a Space Right
#define MC LG(UP) // Mission Control
#define SCRS TD(TD_SCREEN) // Screenshot to Clipboard (One Tap) or to Desktop (Two Taps)
#define ST MEH(EQL) // Shade: Toggle On/Off
#define SD MEH(LBRC) // Shade: Brightness Up
#define SU MEH(RBRC) // Shade: Brightness Down
#define DPI_U POINTER_DEFAULT_DPI_FORWARD // Increase Trackball DPI
#define DPI_D POINTER_DEFAULT_DPI_REVERSE // Decrease Trackball DPI
#define THR_R LC(LG(RIGHT)) //Throw the Active Window to the Space to the Right
#define THR_L LC(LG(UP)) //Throw the Active Window to the Space to the Right
#define TAB_L LC(LS(LEFT)) // Switch to the Tab to the Left
#define TAB_R LC(LS(RIGHT)) // Switch to the Tab to the Right
#define TAB_U LC(LS(UP)) // Switch to the Tab Above
#define TAB_D LC(LS(DOWN)) // Switch to the Tab Below

&mt {
    tapping-term-ms = <160>;
};

/ {
        keymap {
                compatible = "zmk,keymap";

                base_layer {
                        bindings = <
   &mt LALT Q  &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &mt LALT P
   &mt LSHFT A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &mt LSHFT SQT
   &mt LCTRL Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &mt LCTRL FSLH
                        &lt NAVR TAB &trans &trans &trans &trans &trans
                        >;
                };

                navr_layer {
                        bindings = <
   &kp LGUI  &trans    &trans    &trans   &trans      &caps_word &kp TAB_L &kp TAB_D &kp TAB_U &kp TAB_R
   &kp LGUI  &kp LSHFT &kp LCTRL &kp LALT &trans      &kp CLCK   &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT
   &kp LCTRL &trans    &trans    &trans   &trans      &kp INS    &kp HOME  &kp PG_DN &kp PG_UP &kp END
                       &trans    &trans   &kp ENTER   &kp ENTER  &kp DEL   &trans
                        >;
                };

                nsl_layer {
                        bindings = <
   &mt LALT LPRN   &kp N7 &kp N8    &kp N9 &kp RPRN       &kp LBKT  &kp AMPS &kp ASTRK &kp BSLH  &mt LALT RBKT
   &mt LSHFT COLON &kp N4 &kp N5    &kp N6 &kp EQUAL      &kp LBRC  &kp DLLR &kp PRCNT &kp CARET &mt LSHFT RBRC 
   &mt LCTRL GRAVE &kp N1 &kp N2    &kp N3 &kp PLUS       &kp TILDE &kp EXCL &kp COMMA &kp DOT   &mt LCTRL SLASH
                          &kp UNDER &kp N0 &kp MINUS      &kp MINUS &trans
                        >;
                };
        };
};
